<div class="max-w-2xl mx-auto mt-10 bg-white shadow-lg rounded p-6">

  <!-- Stepper -->
  <div class="flex justify-between mb-6 text-lg font-semibold">
    <div [class.text-blue-600]="step===1">1. Personal</div>
    <div [class.text-blue-600]="step===2">2. Address</div>
    <div [class.text-blue-600]="step===3">3. Preview</div>
  </div>

  <!-- Step 1 -->
  <div *ngIf="step===1" class="space-y-4">
    <input type="text" placeholder="Name"
      [(ngModel)]="formData.name"
      class="w-full border p-2 rounded">

    <input type="email" placeholder="Email"
      [(ngModel)]="formData.email"
      class="w-full border p-2 rounded">

    <input type="text" placeholder="Phone"
      [(ngModel)]="formData.phone"
      class="w-full border p-2 rounded">

    <button (click)="next()"
      class="bg-blue-600 text-white px-4 py-2 rounded">
      Next
    </button>
  </div>

  <!-- Step 2 -->
  <div *ngIf="step===2" class="space-y-4">
    <input type="text" placeholder="Address"
      [(ngModel)]="formData.address"
      class="w-full border p-2 rounded">

    <input type="text" placeholder="City"
      [(ngModel)]="formData.city"
      class="w-full border p-2 rounded">

    <input type="text" placeholder="State"
      [(ngModel)]="formData.state"
      class="w-full border p-2 rounded">

    <input type="text" placeholder="Pincode"
      [(ngModel)]="formData.pincode"
      class="w-full border p-2 rounded">

    <div class="flex justify-between">
      <button (click)="back()"
        class="bg-gray-500 text-white px-4 py-2 rounded">
        Back
      </button>

      <button (click)="next()"
        class="bg-blue-600 text-white px-4 py-2 rounded">
        Next
      </button>
    </div>
  </div>

  <!-- Step 3 -->
  <div *ngIf="step===3" class="space-y-3">

    <div class="border p-4 rounded bg-gray-50">
      <p><strong>Name:</strong> {{formData.name}}</p>
      <p><strong>Email:</strong> {{formData.email}}</p>
      <p><strong>Phone:</strong> {{formData.phone}}</p>
      <hr class="my-2">
      <p><strong>Address:</strong> {{formData.address}}</p>
      <p><strong>City:</strong> {{formData.city}}</p>
      <p><strong>State:</strong> {{formData.state}}</p>
      <p><strong>Pincode:</strong> {{formData.pincode}}</p>
    </div>

    <div class="flex justify-end gap-4">
      <button (click)="edit()"
        class="bg-yellow-500 text-white px-4 py-2 rounded">
        Edit
      </button>

      <button (click)="submit()"
        class="bg-green-600 text-white px-4 py-2 rounded">
        Submit
      </button>
    </div>
  </div>

</div>